<?xml version="1.0"?>
<root xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="coffee_table" params="parent *origin">

    <!-- Coffee table -->
    <joint name="${parent}_coffee_table_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="coffee_table_link" />
    </joint>
    <link name="coffee_table_link">
      <visual>
        <geometry>
          <mesh filename="package://rail_collada_models/meshes/coffee_table.min.dae" />
        </geometry>
      </visual>
    </link>

    <xacro:surface parent="coffee_table" child="coffee_table">
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
    </xacro:surface>

    <xacro:nav_goal parent="coffee_table" child="coffee_table">
      <origin xyz="0 -0.9 0" rpy="0 0 0"/>
    </xacro:nav_goal>

  </xacro:macro>
</root>
