<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ilab">
  <xacro:include filename="$(find rail_collada_models)/urdf/nav_goal.urdf.xacro" />
  <xacro:include filename="$(find rail_collada_models)/urdf/surface.urdf.xacro" />  
  <xacro:include filename="$(find rail_collada_models)/urdf/kitchen_counter.urdf.xacro" />
  <xacro:include filename="$(find rail_collada_models)/urdf/kitchen_chair.urdf.xacro" />
  <xacro:include filename="$(find rail_collada_models)/urdf/kitchen_table.urdf.xacro" />
  <xacro:include filename="$(find rail_collada_models)/urdf/coffee_table.urdf.xacro" />
  <xacro:include filename="$(find rail_collada_models)/urdf/couch.urdf.xacro" />
  <xacro:include filename="$(find rail_collada_models)/urdf/right_shelves.urdf.xacro" />
  <xacro:include filename="$(find rail_collada_models)/urdf/tv.urdf.xacro" />
  <xacro:include filename="$(find rail_collada_models)/urdf/left_shelves.urdf.xacro" />
  <xacro:include filename="$(find rail_collada_models)/urdf/lazy_chair.urdf.xacro" />
  <xacro:include filename="$(find rail_collada_models)/urdf/lab.urdf.xacro" />

  <xacro:property name="PARENT" value="map" />
  <xacro:property name="FRAME" value="ilab" />
  <xacro:property name="M_PI" value="3.1415926535897931" />

<!-- fixed frame -->
  <link name="${PARENT}" />
  <link name="${FRAME}" />

  <joint name="${PARENT}_${FRAME}_joint" type="fixed">
    <parent link="${PARENT}" />
    <child link="${FRAME}" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <xacro:lab parent="${FRAME}">
    <origin xyz="-0.15 0.0 0" rpy="0 0 0" />
  </xacro:lab>

  <xacro:kitchen_counter parent="${FRAME}">
    <origin xyz="1.679 5.873 0" rpy="0 0 0"/>
  </xacro:kitchen_counter>
  
  <xacro:kitchen_table parent="${FRAME}">
    <origin xyz="3.877 5.66 0" rpy="0 0 ${M_PI/2}" />
  </xacro:kitchen_table>
  
  <xacro:coffee_table parent="${FRAME}">
    <origin xyz="3.345 2.99 0" rpy="0 0 -${M_PI/2}" />
  </xacro:coffee_table>

  <xacro:couch parent="${FRAME}">
    <origin xyz="4.497 2.94 0" rpy="0 0 ${-M_PI/2}" />
  </xacro:couch>
  
  <xacro:right_shelves parent="${FRAME}">
    <origin xyz="0.425 3.398 0" rpy="0 0 ${M_PI/2}" />
  </xacro:right_shelves>

  <xacro:tv parent="${FRAME}">
    <origin xyz="0.89 2.1 0" rpy="0 0 ${M_PI/2}"/>
  </xacro:tv>

  <xacro:left_shelves parent="${FRAME}">
    <origin xyz="0.425 0.838 0" rpy="0 0 ${M_PI/2}" />
  </xacro:left_shelves>

  <xacro:lazy_chair parent="${FRAME}" suffix="1">
    <origin xyz="3.64 1.1 0" rpy="0 0 ${M_PI}" />
  </xacro:lazy_chair>

  <xacro:lazy_chair parent="${FRAME}" suffix="2">
    <origin xyz="2.621 1.1 0" rpy="0 0 ${M_PI}" />
  </xacro:lazy_chair>

  <xacro:kitchen_chair parent="${FRAME}">
    <origin xyz="3.345 5.775 0" rpy="0 0 ${-M_PI/2}" />
  </xacro:kitchen_chair>

</robot>
