<?xml version="1.0"?>
<root xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="kitchen_counter" params="parent *origin">

    <!--Kitchen Counter -->
    <joint name="${parent}_kitchen_counter_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="kitchen_counter_link"/>
    </joint>
    <link name="kitchen_counter_link">
      <visual>
         <geometry>
          <mesh filename="package://rail_collada_models/meshes/kitchen_counter.min.dae" />
        </geometry>
      </visual>
    </link>

    <!-- Sink-->
    <joint name="${parent}_sink_joint" type="fixed">
      <origin xyz="0 0 0.92" rpy="0 0 0"/>
      <parent link="kitchen_counter_link" />
      <child link="sink_link"/>
    </joint>
    <link name="sink_link"/>
    <xacro:nav_goal parent="kitchen_counter" child="sink">
      <origin xyz="0 -.95 0" rpy="0 0 0"/>
    </xacro:nav_goal>

    <!-- LEFT -->
    <xacro:surface parent="kitchen_counter" child="kitchen_counter_left">
      <origin xyz="-0.6 0 0.92" rpy="0 0 0"/>
      <box size="0.5 0.5 0.05"/>
    </xacro:surface>
    <xacro:nav_goal parent="kitchen_counter" child="kitchen_counter_left">
      <origin xyz="-.6 -.95 0" rpy="0 0 0"/>
    </xacro:nav_goal>

    <!-- RIGHT -->
    <xacro:surface parent="kitchen_counter" child="kitchen_counter_right">
      <origin xyz="0.6 0 0.92" rpy="0 0 0"/>
      <box size="0.5 0.5 0.05"/>
    </xacro:surface>
    <xacro:nav_goal parent="kitchen_counter" child="kitchen_counter_right" >
      <origin xyz="0.6 -.95 0" rpy="0 0 0"/>
    </xacro:nav_goal>

  </xacro:macro>
</root>
