<?xml version="1.0"?>
<root xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="kitchen_table" params="parent *origin">

    <joint name="${parent}_kitchen_table_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="kitchen_table_link" />
    </joint>
    <link name="kitchen_table_link">
      <visual>
        <geometry>
          <mesh filename="package://rail_collada_models/meshes/kitchen_table.min.dae" />
        </geometry>
      </visual>
    </link>


    <joint name="${parent}_kitchen_table_surface_joint" type="fixed">
      <origin xyz="0 0 0.75" rpy="0 0 0"/>
      <parent link="kitchen_table_link"/>
      <child link="kitchen_table_surface_link"/>
    </joint>
    <link name="kitchen_table_surface_link">
    </link>

    <xacro:nav_goal parent="kitchen_table" child="kitchen_table">
      <origin xyz="-1.00 0 0" rpy="0 0 -${M_PI/2}"/>
    </xacro:nav_goal>

  </xacro:macro>
</root>
