<?xml version="1.0"?>
<root xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="lab" params="parent *origin">
    <joint name="${parent}_lab_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="lab_link" />
    </joint>

    <link name="lab_link">
      <visual>
        <geometry>
          <mesh filename="package://rail_collada_models/meshes/lab.min.dae" />
        </geometry>
      </visual>
    </link>
  </xacro:macro>
</root>
