<?xml version="1.0"?>
<root xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="right_shelves" params="parent *origin">
    <joint name="${parent}_right_shelves_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="right_shelves_link" />
    </joint>
    <link name="right_shelves_link">
      <visual>
        <geometry>
          <mesh filename="package://rail_collada_models/meshes/right_shelves.min.dae" />
        </geometry>
      </visual>
    </link>

    <xacro:nav_goal parent="right_shelves" child="right_shelves">
      <origin xyz="0 -0.7 0" rpy="0 0 0"/>
    </xacro:nav_goal>
  </xacro:macro>
</root>
