<?xml version="1.0"?>
<root xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="tv" params="parent *origin">
    <joint name="${parent}_tv_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="tv_link" />
    </joint>
    <link name="tv_link">
      <visual>
        <geometry>
          <mesh filename="package://rail_collada_models/meshes/tv.min.dae" />
        </geometry>
      </visual>
    </link>

    <xacro:surface parent="tv" child="tv">
      <origin xyz="0 0 0.605" rpy="0 0 0"/>
      <box size="0.6 0.35 0.05"/>
    </xacro:surface> 

    <xacro:nav_goal parent="tv" child="tv">
      <origin xyz="0 -0.8 0" rpy="0 0 0"/>
    </xacro:nav_goal>
    
  </xacro:macro>
</root>
